
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dG91Z2gtbXVsbGV0LTQ4LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_fiyjw1xXpwD5wWAWoEvyYbmGvMBfaH7xo4BimH1H42

DATABASE_URL=postgresql://neondb_owner:npg_1JCuGndMP9pf@ep-noisy-dew-anlsnhig-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

TRIGGER_SECRET_KEY=tr_dev_OLy6f3jXLCimOhoxPZxf

GEMINI_API_KEY=AIzaSyCjhoK9nUOODPr0jywtsIgm6wOlnMq7jng

TRANSLOADIT_KEY=320b7665210e5907540ece81bf987dad
TRANSLOADIT_SECRET=b494fed579b3b01dfd5a3aa4d6b547e2cb5ec0b3
NEXT_PUBLIC_TRANSLOADIT_AUTH_KEY=320b7665210e5907540ece81bf987dad